@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

header
{
  margin:0;  
}

.logo{
    background: url("../images/Bob_Logo.jpg"); 
    background-position:left;
    background-repeat:no-repeat;
    background-size:cover;
    min-height:400px;
    max-width:1px;
    transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
}
